<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div th:replace="/fragments/header :: h1"></div>
    <h2 class="user-message" th:if="${siteUser}" th:text="${'Welcome ' + siteUser.getUsername() + '!'}"></h2>
    <a class="home-logout"  href="/users">Users</a>
    <a class="home-logout"  href="/feed">Feed</a>
</header>
<article th:each="post : ${usersPosts}">
    <div class="post-header">
        <div class="post-subject-date-container">

            <p class="date" th:text="${post.createdAt}"></p>
        </div>
        <div class="post-author-container">
            <a class="profile" th:href="${'/profile-user/' + post.siteUser.id}"
               th:text="${post.siteUser.firstName + ' ' + post.siteUser.lastName}"></a>
        </div>

    </div>
    <div class="postcontent-container">
        <p th:text="${post.body}"></p>
    </div>
</article>
</body>
</html>