<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<header>
    <h1>Welcome Back Fellow Member</h1>
</header>

<div class="login">
<form action="/login" method="POST">
    <label>Username</label>
    <input type="text" name="username">
    <br>
    <label>Password</label>
    <input type="password" name="password">
    <br>
    <a class="login-signup-button" href="/signup">Sign Up</a>
    <input class="login-input" type="submit" value="Log in">
</form>
</div>
</body>
</html>